.wrapper {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.canvas {
  display: block;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}
